<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="fragments/header :: header"> </head>
<body>
    <header th:replace="fragments/menu :: menu"></header>
    <main>
        <div class="container" th:attrappend="id=${taskId}">
            <div id="notice" th:if="${taskId!=null}" class="alert alert-success" role="alert">Indexing successfully finished!</div>
            <div class="row">
                <div class="col-md-8 col-md-offset-1 search-form">
                    <form class="form-horizontal" action="/search" method="get">
                        <div class="form-group">
                            <div class="col-sm-10 item">
                                <input th:value="${q}" type="text" required="true" class="form-control" name="q" id="q" placeholder="Search text" />
                            </div>
                            <div class="col-sm-2 item">
                                <button type="submit" class="btn btn-default">Search</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input th:checked="${sort=='abc'}" type="checkbox" name="sort" value="abc"/>
                                    Sort by alphabetical order
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-1 search-results">
                    <div th:if="${q != null}">
                        <h4 class="warn" th:if="${found==0 and !q.isEmpty()}">Search doesn't return any results</h4>
                        <h4 class="warn" th:if="${q.isEmpty()}">Search string can't be empty</h4>
                        <div th:if="${found>0}" class="items-holder">
                            <!--<div th:text="'Results: '+${found}" class="results"></div>-->
                            <div th:each="item : ${items}" class="item">
                                <div class="title">
                                    <a th:utext="${item.title}" th:href="${item.url}" target="_blank"/>
                                </div>
                                <div class="link">
                                    <a th:text="${item.url}" th:href="${item.url}" target="_blank"/>
                                </div>
                                <div class="text" th:utext="${item.content}"></div>
                            </div>
                        </div>
                        <div th:if="${found==limit}" class="navigation">
                            <button th:onclick="'nextItems(\'' + ${q} + '\',\'' + ${sort} + '\');'" type="button" id="next" data-loading-text="Loading..." class="btn btn-primary" autocomplete="off">
                                Next pages
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>